body {
    padding: 0;
    border: 0;
    background-color: rgba(252, 245, 182, 0.5) !important;
}

header {
    background-image: url('img/header.jpg');
    background-color: black;
    height: 420px;
    padding: 0;
    border: 0;
    top: 0;
    -webkit-box-shadow: -5px 8px 15px 0px rgba(36, 29, 12, 1);
    -moz-box-shadow: -5px 8px 15px 0px rgba(36, 29, 12, 1);
    box-shadow: -5px 8px 15px 0px rgba(36, 29, 12, 1);
}

.add {
    float: right;
    margin: 15px;
}

#headerText {
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    padding: 10%;
    margin: 0;
    
}
.red{
    color: rgb(190, 16, 16) !important;
    font-size: 14px !important;
}
.green{
    color: green;
    font-size: 14px !important;
}
.addFeedbackWell, .addFeedbackWrong{
    display: none;
    float: right;
}
#navigation {
    background-color: rgba(21, 14, 6, 0.76) !important ;
    width: 100%;
    color: whitesmoke;
    position: fixed;
    padding: 10px;
    top: 0;
}
.collapse{
    position: relative;
}
.menuText {
    padding: 5px;
    font-size: 18px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.356);
    text-align: center;
}

.cutlery {
    font-size: 15px;
}

.listRecipes {
    background-image: linear-gradient(rgba(238, 232, 164, 0.5), rgba(206, 157, 65, 0.473));
    border-radius: 15px;
    font-size: 20px;
    margin: 5px;
    list-style: none;
    padding: 25px;
    -webkit-box-shadow: 6px 7px 19px 0px rgba(38, 38, 38, 1);
    -moz-box-shadow: 6px 7px 19px 0px rgba(38, 38, 38, 1);
    box-shadow: 6px 7px 19px 0px rgba(38, 38, 38, 1);
}

#containerRecipesList {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    margin: 25px;
}

.edit, .del {
    background-color: #C95810;
    color: whitesmoke;
    border-color: none;
    margin: 5px;
    font-size: 20px;
    float: right;
}

hr {
    border-top: 1px solid rgba(240, 172, 78, 0.322) !important;
}

.del {
    top: 0;
}

.list_title {
    text-transform: uppercase;
}

.modalTextarea {
    height: 100px;
}

.modalTextareaName {
    height: 30px;
}

.modalTextareaName, .modalTextarea {
    width: 96%;
    resize: none;
    border-color: rgba(223, 223, 223, 0.322);
    background-color: rgba(161, 161, 161, 0.13);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modalTitle {
    padding: 5px;
    text-align: center;
}

.list_description {
    font-size: 14px;
}

.containerNav {
    margin: 5px;
    color: black;
    float: right;
}

.selectNav {
    height: 38px;
    margin: 8px;
    border: none ;
    background-color: transparent;
    outline: none;
    color: white !important;

}

.selectNavButton {
    background-color: transparent;
    border: none;
    /* color: white; */
}
#selectNavId * {
    position: absolute;
    color: black !important;
}

.fromNav {
    display: inline !important;
 
}
.navbar-brand
{
    color: white !important;  
}
.navbar-toggler-icon{
    color: white !important;  ;
}
.searchButton{
    border: 1px solid #ffc107 !important;  
    color: #ffc107 !important;
    background-color:  #49494949 !important;  
}
.searchButton:hover{
    background-color:  #ffc1073b !important;  
 
}
.modalButton {
    font-size: 16px;
    background-color: transparent;
    border: none;
    margin: 6px;
    color: white;
}

.buttonsEdit {
    float: right;
    margin: 5px;
}

.buttonsDelAndEditTd {
    padding: 15px;
}

@media screen and (max-width: 377px) {
    #headerText {
        font-size: 40px;
        padding: 15%;
    }
    #containerRecipesList {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 460px) and (min-width: 377px) {
    #headerText {
        font-size: 50px;
        padding: 50px;
    }
    #containerRecipesList {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 968px) and (min-width: 460px) {
    #containerRecipesList {
        grid-template-columns: auto;
    }
}

.id {
    display: none !important;
}
.like, .dislike {
    border: none;
    background-color: transparent;
    font-size: 18px;
}